VITE_PORTAL_API_BASE_URL=https://verify.shd-esports.com/api/v1/admin
VITE_PORTAL_SUPPORT_API_BASE_URL=https://verify.shd-esports.com/api/v1/public
VITE_PORTAL_ADMIN_URL=https://admin.shd-esports.com
VITE_PORTAL_DEMO_MODE=false
