[Unit]
Description=SHD Lifesteal Server Agent
After=network-online.target lifesteal.service
Wants=network-online.target

[Service]
Type=simple
User=shd-agent
Group=shd-agent
WorkingDirectory=/opt/shd/agent/app
EnvironmentFile=/opt/shd/agent/app/.env
ExecStart=/usr/bin/node /opt/shd/agent/app/src/index.js
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
